<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index2.css">
    <title>Document</title>
</head>
<body>

    <div id="background">
        <!-- <img src="../image/bus.jpg" alt=""> -->
        <h1>Travel to your Jaw-Dropping 
            Destination with Dream Trip</h1>
        <div id="button">
            <a href="">Create a FREE Account </a>
        </div>
    </div>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, blanditiis.
    At, exercitationem numquam! Quisquam adipisci iste eaque sequi ipsa animi.
    Vel aliquid nam est ratione nemo laudantium labore enim quo.
    Dolores cum quod porro ab aspernatur illo? Explicabo, porro cumque.
    Dolores, similique? Laudantium ratione velit numquam deleniti id error aliquam?
    Minima, neque perspiciatis necessitatibus mollitia officia qui alias consectetur exercitationem!
    Ratione vel sint omnis eveniet magnam minus similique laborum recusandae.
    Quod consequuntur nobis aut, vero nulla accusamus molestiae repudiandae porro.
    Sint cupiditate reiciendis perspiciatis fuga inventore ipsam aspernatur atque eum.
    Atque, id nam. Inventore accusamus mollitia beatae velit, laboriosam distinctio.
    Doloribus, nihil at! Neque ea vitae consequatur itaque! Debitis, illum?
    Quas, quam animi. Necessitatibus quae sunt numquam ratione, illum placeat!
    Alias quibusdam illo optio vel dolor explicabo repellendus reiciendis laudantium!
    Quasi sit sunt cupiditate nemo accusamus repudiandae in ad quam.
    Aspernatur iusto natus quisquam eligendi distinctio enim ad reprehenderit dolor.
    Perspiciatis, rerum perferendis ab dolor atque ut molestias nisi deserunt.
    Animi maxime, nemo deserunt optio assumenda illo. Placeat, facere nesciunt!
    Debitis consectetur, laudantium illum dicta sed exercitationem perspiciatis. Dolores, minima.
    Ad porro totam optio repellat cumque harum odit, iste quae?
    Distinctio accusamus, voluptas voluptatibus delectus dolore blanditiis porro labore iure!
    Voluptates explicabo enim harum? Ea nisi quibusdam suscipit fugiat magni.
    Mollitia sint ex nesciunt numquam soluta quas voluptas aliquam similique?
    Ea non error distinctio aperiam velit placeat rerum accusantium nemo.
    Odit, ipsa. Ullam porro quaerat, fugiat a labore quisquam possimus!
    Voluptatibus voluptatum quae accusamus quis placeat nobis nulla nam fugiat.
    Voluptas sequi iusto vitae, aspernatur deserunt cupiditate provident delectus voluptatum.
    Illo vero totam tempore aliquid voluptates vitae atque quae accusantium!
    Alias doloremque id magnam ea amet rem enim aut officia!
    Neque nihil laborum amet maiores iure autem vero, perspiciatis reiciendis.
    Modi quos repellat aliquam fuga velit, similique ratione cupiditate suscipit.
    Doloremque eaque iusto, placeat ipsam quis accusantium adipisci deleniti ipsa?
    Impedit eum beatae itaque enim nihil adipisci, numquam dolorem! Corporis!
    Reprehenderit, distinctio? Sequi hic tempora recusandae aliquam ea officiis similique.
    Eos in molestias cum quis ullam nesciunt, ducimus eaque numquam!
    Omnis cumque aliquam quasi iure tempore quo assumenda sequi mollitia?
    Minus omnis excepturi nemo dolores assumenda at eius enim error.
    Nobis quae repellat qui quia ab. Ut, rem. Nisi, quam!
    Porro labore quasi dolores tempora asperiores accusantium in hic! Debitis.
    Consequuntur quisquam ab dolore at molestias incidunt nostrum sunt dolores?
    Illum blanditiis, tempora omnis aliquid rerum eos optio placeat accusamus!
    Fugiat reiciendis eveniet iure. Officiis magnam nihil sit a officia!
    Repellat ad, mollitia in maiores illum sequi labore repudiandae delectus.
    Ut ea maiores animi quibusdam magni consequatur fugit architecto nemo.
    Temporibus eveniet est ab ipsam officia dicta optio architecto ad!
    Fugiat asperiores iusto doloribus repellat deserunt ipsa at aspernatur architecto?
    Impedit delectus quos, odio officiis maxime incidunt vel aut quibusdam.
    Rerum, impedit illo cumque in sint commodi at quis dignissimos?
    Fugiat eos repellat, ab unde consequatur est quos sunt quo.
    Minima omnis asperiores totam pariatur eligendi. Laudantium accusamus praesentium reprehenderit!
    Ea quibusdam ullam possimus quis reprehenderit a nulla nam blanditiis!

    </p>
    
</body>
</html>