<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Trip</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="shortcut icon" href="../image/favicon.png" type="image/png">
</head>
<body>
    <section id="logo">
        <p id="welcome">Welcome Back</p>
        <img src="../image/DreamTRIPlogo.png" alt="">
    </section>
    <section id="form">
        <form action="" method="post">
         <div class="demail"> 
            <label for="email"> Your email</label><br>
            <input type="email" name="email" required placeholder="Enter your Email" id="email">
            <br><br>
        </div>
        <div class="dpassword"> 
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password" required placeholder="Enter your password">
            <br>
        </div>
        <div class="deye">
             <button type="checkbox" onclick="myFunction()"><img src="../image/view.png" id="eye"></button>
        </div>
        <p id="fpass"><a href="">Forgot Password</a> </p>
        <br><br>
        <button type="submit" id="login">Login</button>
        <br><br>
        <p class="new ">New here?<a href="../html/Sign up.html">Sign up</a></p>
            


        </form>
    </section>


    <script src="../js/login.js"></script>
</body>
</html>