<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/sign up.css">
    <link rel="shortcut icon" href="../image/favicon.png" type="image/png">
</head>
<body>
   <section id="welcome">
    <p id="explore">Explore Your Dream</p>
    <p id="destination">DESTINATION</p>
    <img src="../image/DreamTRIPlogo.png" alt="">
   </section> 
   <section id="sign-form">
    <form action="" method="post">
        <div class="semail">
            <label for="First name">First name</label>
            <br>
            <input type="text" name="First name" required placeholder="Enter your first name" id="firstname">
            <br><br>
        </div>
        <div>
            <label for="Last name">Last name</label>
            <br>
            <input type="text" name="Last name" required placeholder="Enter your last name" id="lastname">
            <br><br>
        </div>
        <div>
            <label for="email">Your email</label>
            <br>
            <input type="email" name="email" required placeholder="Enter your email" id="email">
            <br><br>
        </div>
        <div>
            <label for="phone number">Phone number</label>
            <br>
            <input type="number" name="mobile" required placeholder="Enter number" id="mobile">
            <br><br>
        </div>
        <div>
            <label for="IDcard Number">IDcard number</label>
            <br>
            <input type="number" name="Idcard number" required placeholder="Enter your IDcard number" id="idcard">
            <br><br>
        </div>
        <div>
            <label for="Password">Password</label>
            <br>
            <input type="Password" name="password" required placeholder="Enter your password" id="password">
            <br><br>
        </div>
        <button id="sign-up" type="submit">Sign up NOW</button>
        <br><br>
        <p>With us?<a href="../html/login.html">Login</a></p>
    </form>
   </section>
</body>
</html>